* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Aclonica';
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-Start;
    height: 100vh;
}

.YoYoYoItsHumpDay {
    padding-right: 5%;
    padding-left: 15%;

}

.YoYoYoItsHumpDay img {
    width: 50px;
    cursor: pointer;
}

.LTG:hover {
    content: url(./img/Gear2.png);
}

.score {
    color: whitesmoke;
    position: fixed;
    left: 50%;
    top: 0;
}

.score span {
    color: rgb(255, 244, 31);
}

.Real {
    content: url('./img/WSD.png');
    cursor: pointer;
}

.Real2 {
    content: url('./img/Arrows.png');
    cursor: pointer;
}

.SettingsMenu {
    display: none;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    right: 40%;
    background-color: rgba(0, 0, 0, 0.437);
    width: 500px;
    height: 600px;
}

.SettingsMenu2 {
    display: block;

}

.SettingsMenu h1 {

    margin-top: 50px;
    margin-bottom: 50px;
}

.SettingsMenu img {

    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    section {
        display: none;
    }

    img {
        display: none;
    }

    div {
        display: none;
    }
}

/* GAME */
.GameComplete {
    transition: all 8s;
    filter: blur(5px);
    opacity: 0;
    transform: translateY(120%);
    color: rgba(255, 255, 255, 0.616);
    padding-top: 5%;
    align-items: center;
    position: fixed;
    border: solid rgba(255, 255, 255, 0.744) 5px;
    background-color: rgb(0, 0, 0);
    left: 40vw;
    width: 500px;
    height: 800px;
}

.GameComplete h1 {
    color: white;
    width: 40%;
    margin: 0 auto;
}

.GameComplete p {
    width: 60%;
    margin: 0 auto;
}

.GameComplete h2 {
    color: rgba(148, 168, 222, 0.625);
    width: 96%;
    margin: 0 auto;
}

.GameComplete a {

    margin-left: 35%;
}

.GameComplete img {
    border: solid rgba(148, 168, 222, 0.424) 10px;
    margin-left: 7%;
    width: 400px;
}

.GameComplete a img {
    border: solid rgb(172, 161, 172) 0px;
    width: 100px;
}


.GameComplete a img:hover {
    content: url(./img/Gear2.png);
}

.GameCompletefr {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
}