* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Aclonica';
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-Start;
    height: 100vh;
}

.YoYoYoItsHumpDay {
    padding-right: 5%;
    padding-left: 15%;

}

.YoYoYoItsHumpDay img {
    width: 50px;
    cursor: pointer;
}

.score {
    color: whitesmoke;
    position: fixed;
    left: 50%;
    top: 0;
}

.score span {
    color: red;
}

.Real {
    content: url('./img/WSD.png');
    cursor: pointer;
}

.Real2 {
    content: url('./img/Arrows.png');
    cursor: pointer;
}

.SettingsMenu {
    display: none;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    right: 40%;
    background-color: rgba(165, 150, 89, 0.437);
    width: 500px;
    height: 600px;
}

.SettingsMenu2 {
    display: block;

}

.SettingsMenu h1 {

    margin-top: 50px;
    margin-bottom: 50px;
}

.SettingsMenu img {

    margin-top: 50px;
    margin-bottom: 50px;
}